<div class="container">
  <div class="col-6">
    <h1>Final Grade Calculator</h1>
    <p> Use this app to calculate your final Grade.</p>
    <p> If you want to see your grade, click <a href="/testResults">Test Results</a>.</p>
    <p> If you want to add a test case, click <a href="/addTest">Add Test</a>.</p>
    <p> If you want subscribe to the website, click <a href="/contact">Subscribe</a>.</p>
  </div>
</div>
